@model IEnumerable<Inmobiliaria.Models.Persona>

@{
    ViewData["Title"] = "Personas";
}

<h2>Personas</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nueva</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Contacto</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var p in Model)
{
        <tr>
            <td>@p.DNI</td>
            <td>@p.Nombre</td>
            <td>@p.Apellido</td>
            <td>@p.Contacto</td>
            <td class="text-end">
                <a asp-action="Details" asp-route-id="@p.Id" class="btn btn-sm btn-info">Detalles</a>
                <a asp-action="Edit" asp-route-id="@p.Id" class="btn btn-sm btn-warning">Editar</a>
                <a asp-action="Delete" asp-route-id="@p.Id" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
